@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
    font-family: 'Goyang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{font-family:'Goyang'; font-size: 14px;} 
html {
  background: linear-gradient(to bottom, #D1B2FF, #9269cf);
  height: auto !important;
}
body {
letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'Nanum Gothic', sans-serif;
}

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-top: 4px solid #934aed;
  border-right: none;
  border-bottom: none;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  width: 145px;
  height: 50px;
  background: url() no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: block;
	
	filter: grayscale(100%);
  opacity: 0.8;
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: 3px solid #782fd4;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
  background: #934aed;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #af7eed;
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #782fd4;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #a35cfa;
}


/* fa색상 */

header #header-bar .fa {
  color: #782fd4;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #a35cfa;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #af7eed;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #af7eed;
  height: 0.15em;
}

/* 게시글 관련부분 */

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #a35cfa;
  padding-bottom: 50px;
  background: white;
}
#article-list #article-list-category:after {
  background: transparent;
}
#article-list #article-list-category>a {
  background: white;
}

#article-list>.article-list-row>.item>.list-header>span {
  background-color: #a35cfa;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #a35cfa;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #a35cfa;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #a35cfa;
  border-color: #a35cfa;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #a35cfa;
}

.pagination>li>a,
.pagination>li>span {
  color: #a35cfa;
}

#article-content-wrapper>.header {
  border-top: 2px solid #a35cfa;
}
#board-info.solid {border-style: solid;}
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #a35cfa;
}

#article-info>h2 {
  font-weight: bold;
}

#article-info>h2>span.category {
  color: #a35cfa !important;
}

#article-reply-area>.header h5 {
  color: #a35cfa;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #a35cfa;
}

span.a-badge i.fa.fa-info-circle {
  color: #934aed;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 10px;
  height: unset;
}

.btn-primary {
  background: #782fd4 !important;
}

/* 마우스 커서 링크 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
 {
 cursor: url("https://cdn.discordapp.com/attachments/791236631507501067/791256264398995486/Cursor2.png") 0 0, auto !important;
}
